.header {
  background-color: black;
  color: white;
  margin: 0;
}

nav {
  .navlist {
    list-style-type: none;
    padding: 15px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    li:hover {
      font-weight: bold;
    }
  }

}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
